@{
    ViewData["title"] = "Libraries Gallery";
}

<div class="d-flex justify-content-between my-5">
    <h4>Hello</h4>

    <img height="30" width="30" src="/images/shopping-cart.png" alt="Shopping Cart">
</div>

<div class="mb-5">
    <input class="w-100 px-4 py-2" type="text" placeholder="Search">
</div>

<div class="container">
    <div class="row">
        <div class="col-4 mb-5">
            <div class="card">
                <img class="card-img-top" src="" alt="Card image cap">
                
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
</div>