@{
    ViewData["Title"] = "Home Page";
    var users = (List<User>?) ViewData["users"];
}

<div class="text-center">
    @if (users != null)
    {
        @foreach (var user in users)
        {
            <h1 class="display-4">Welcome @user.name</h1>
        }
    }

    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

