html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.vertical-line {
  height: 30px;
  width: 2px;
  background: #000;
}

.vertical-middle {
  vertical-align: middle;
}

.image-container {
  height: 100px;
  width: 100px;
}

.grid-col {
  width: 30%;
  margin-left: 20px;
  margin-right: 20px;
}

.w-16 {
  width: 100px;
}

.cart-position {
  top: -15px;
  left: 25px;
}

.rounded-full {
  border-radius: 9999px;
}

.mt-20 {
  margin-top: 200px;
}